.kilovolt-header {
  padding: 1.5em 0 .5em 0;
  background-color: #ffe9ad;
}


header nav ul li{
  display: inline;
}

a, a:visited {
  color: #777777;
  text-decoration: none;
}

header .icon-menu {
  float: right;
  margin-right: 1em;
}

@media only screen and (max-width: 480px) {
  header>nav>ul {
    display: none;
  }
}

@media only screen and (min-width: 481px) {
  header .icon-menu {
    display: none;
  }
}

.main-nav ul {
  display: none;
  list-style: none;
  clear: both;
}

.main-nav:hover ul {
  display: block;
}
